<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>simple-web-admin</title>

    <style>
        li {
            list-style: none;
        }
    </style>
</head>

<body>

<h3>simple-web-admin</h3>

{{{body}}}

</body>
</html>
